{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/no-unresolved": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    ],
    "no-use-before-define": "off",
    "import/extensions": ["error", "never"],
    "react/prop-types": "off",
    "no-shadow": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "no-plusplus": "off"
  }
}
